.navbar{
    display:inline-block;
   
    
}
.navbar ul{
    display:inline-block;
    list-style: none;
}
.navbar li{
    display:inline-block;
    font-size: 25px;
    margin-right:30px;
}
.navbar li .navItem{
    color:rgb(17, 13, 13);
    text-decoration: none;
    padding:15px 10px;
    
    
   
}
.navbar li .navItem:hover,.navbar li .navItem .active{
    color:grey;
    
     
   
}
.navbar li:hover{
    transform: scale(1.1);
}